<form>
    <div>
        <input 
        type="text" 
        name="fromWhere" 
        placeholder="From where" 
        #origin
        (keyup)="getAirports(origin.value, 'origin')"
        />
        <!--CHECKING IF ANYTHING IS PASSED-->
        <ng-container *ngIf="originAirports == undefined; else showOriginAirports">
            <p>Pass a city</p>
        </ng-container>
        <!--WHEN SOMETHING IS PASSED IT'S GENERATING OPTIONS FOR AIRPORTS OR SHOWS THAT THERE ARE NOT ANY AIRPORT NEAR-->
        <ng-template #showOriginAirports>
            <ng-container *ngIf="originAirports == 'empty'; else originAirportsChoice">
                <p>We dont have airports here</p>
            </ng-container>
            <ng-template #originAirportsChoice>
                <select [formControl]="originAirportsControl" multiple>
                    <option 
                    *ngFor="let airport of originAirports"
                    value="{{airport.PlaceId}}">
                    {{ airport.PlaceName }}
                </option>
                </select>
            </ng-template>
        </ng-template>
    </div>

    <div>
        <input 
        type="text" 
        name="where" 
        placeholder="Where" 
        #destination
        (keyup)="getAirports(destination.value, 'destination')"
        />
        <!--CHECKING IF ANYTHING IS PASSED-->
        <ng-container *ngIf="destinationAirports == undefined; else showDestinationAirports">
            <p>Pass a city</p>
        </ng-container>
        <!--WHEN SOMETHING IS PASSED IT'S GENERATING OPTIONS FOR AIRPORTS OR SHOWS THAT THERE ARE NOT ANY AIRPORT NEAR-->
        <ng-template #showDestinationAirports>
            <ng-container *ngIf="destinationAirports == 'empty'; else destinationAirportsChoice">
                <p>We dont have airports here</p>
            </ng-container>
            <ng-template #destinationAirportsChoice>
                <select [formControl]="destinationAirportsControl" multiple>
                    <option 
                    *ngFor="let airport of destinationAirports"
                    value="{{airport.PlaceId}}"
                    >
                    {{ airport.PlaceName }}
                    </option>
                </select>
            </ng-template>
        </ng-template>
        <!--SIMPLE BUTTON FOR CHECKING PRICE-->
        <button 
        type="button" 
        (click)="checkPrices()"
        >
        CHECK PRICE
        </button>
        <!--CHECKING IF THERE ARE FLIGHTS FROM CHOOSED AIRPORTS TO CHOOSED AIRPORTS-->
        <div *ngIf="flights.length > 0; else noFlights">
            <form (submit)="orderTicket($event)">
                <ng-container *ngFor="let flight of flights; let i = index" >
                    <input 
                    type="radio" 
                    name="ticketOptions"
                    id="{{i}}"
                    [value]="flight"
                    [(ngModel)]="selectedTicketControl"
                    >
                    <label for="{{i}}">
                        <app-airport-button 
                        [carrier]=flight.carriers
                        [dateTime]=flight.dateTime
                        [originDetails]=flight.originDetails
                        [destinationDetails]=flight.destinationDetails
                        price="{{flight.moneyDetails.price + flight.moneyDetails.symbol}}"
                    ></app-airport-button>
                    </label> 
                </ng-container>
                <div class="ticketInfos">
                    <input type="text" 
                    [formControl]=ticketNameAndSurname 
                    placeholder="Name and surname">
                    <input type="email" 
                    [formControl]=ticketEmail 
                    placeholder="E-Mail">
                </div>
                <button type="submit">BUY TICKETS</button>
            </form>
        </div>

        <ng-template #noFlights>
            <p>No flights avaiable</p>
        </ng-template>
    </div>
</form>