<div class="auto-rows-min mt-5 bg-white border-2 border-black rounded-xl transition-all mx-10 my-10 py-10
    lg:mx-20 lg:my-15 lg:py-15 
    xl:m-40 xl:py-15
    2xl:mx-80 2xl:my-25 2xl:py-15
    ">
    <form class="grid mx-5
        sm:grid-rows-3 sm:gap-y-5
        md:grid-cols-3 md:grid-rows-1"
        autocomplete="off">
        <div class="grid items-center">
            <input 
            class="form-input mt-1 block w-full text-center
            focus:border-b"
            type="text" 
            name="fromWhere" 
            placeholder="From where" 
            #origin
            (keyup)="getAirports(origin.value, 'origin')"
            (change)="getAirports(origin.value, 'origin')"
            [formControl]="originCityControl"
            />
            <!--CHECKING IF ANYTHING IS PASSED-->
            <ng-container *ngIf="originAirports == undefined; else showOriginAirports">
                <p class="justify-self-center">Pass a city</p>
            </ng-container>
            <!--WHEN SOMETHING IS PASSED IT'S GENERATING OPTIONS FOR AIRPORTS OR SHOWS THAT THERE ARE NOT ANY AIRPORT NEAR-->
            <ng-template #showOriginAirports>
                <ng-container *ngIf="originAirports == 'empty'; else originAirportsChoice">
                    <p class="justify-self-center">We dont have airports here</p>
                </ng-container>
                <ng-template #originAirportsChoice>
                    <select class="form-select mt-1 block w-full
                    scrollbar scrollbar-thumb-black scrollbar-track-blue-700
                    hover:scrollbar-thumb-gray-300"
                    (change)="catchChoosedAirports()"
                    [formControl]="originAirportsControl" 
                    multiple>
                        <option 
                        *ngFor="let airport of originAirports"
                        value="{{airport.PlaceId}}">
                        {{ airport.PlaceName }}
                    </option>
                    </select>
                </ng-template>
            </ng-template>
        </div>
        <div class="grid auto-rows-min justify-items-center">
            <button class="border-2 border-black rounded-xl place-items-center transition duration-500 ease-in-out
            hover:bg-black hover:border-white"
            (click)="swapCities()">
                <svg xmlns="http://www.w3.org/2000/svg" 
                class="h-6 w-6
                hover:stroke-current hover:text-white" 
                fill="none" 
                viewBox="0 0 24 24" 
                stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7h12m0 0l-4-4m4 4l-4 4m0 6H4m0 0l4 4m-4-4l4-4" />
                </svg>
            </button>
            <select [formControl]="ticketCurrencyControl">
                <option
                class="select"
                *ngFor="let currency of ticketCurrency; let i = index"
                value="{{currency}}"
                [selected]="currency == 'USD'"
                >
                {{currency}}
                </option>
            </select>
             <!--SIMPLE BUTTON FOR CHECKING PRICE-->
             <button 
             class="bg-green-500 rounded-md text-white transition duration-500 ease-in-out
             hover:scale-110
             disabled:bg-red-700 disabled:text-black"
             type="button" 
             (click)="checkPrices()"
             [disabled]="choosedOriginAirports == null || choosedDestinationAirports == null"
             >
             CHECK PRICE
             </button>
        </div>
        <div class="grid items-center">
            <input 
            class="form-input mt-1 w-full text-center
            focus:border-b"
            type="text" 
            name="where" 
            placeholder="Where" 
            #destination
            (keyup)="getAirports(destination.value, 'destination')"
            (change)="getAirports(destination.value, 'destination')"
            [formControl]="destinationCityControl"
            />
            <!--CHECKING IF ANYTHING IS PASSED-->
            <ng-container *ngIf="destinationAirports == undefined; else showDestinationAirports">
                <p class="justify-self-center">Pass a city</p>
            </ng-container>
            <!--WHEN SOMETHING IS PASSED IT'S GENERATING OPTIONS FOR AIRPORTS OR SHOWS THAT THERE ARE NOT ANY AIRPORT NEAR-->
            <ng-template #showDestinationAirports>
                <ng-container *ngIf="destinationAirports == 'empty'; else destinationAirportsChoice">
                    <p class="justify-self-center">We dont have airports here</p>
                </ng-container>
                <ng-template #destinationAirportsChoice>
                    <select class="form-select mt-1 block w-full
                    scrollbar scrollbar-thumb-black scrollbar-track-blue-700
                    hover:scrollbar-thumb-gray-300"
                    [formControl]="destinationAirportsControl" 
                    (change)="catchChoosedAirports()"
                    multiple>
                        <option 
                        *ngFor="let airport of destinationAirports"
                        value="{{airport.PlaceId}}"
                        >
                        {{ airport.PlaceName }}
                        </option>
                    </select>
                </ng-template>
            </ng-template>
            <ng-template #noFlights>
                <p class="text-center text-2xl">No flights avaiable</p>
            </ng-template>
        </div>
    </form>
        <!--CHECKING IF THERE ARE FLIGHTS FROM CHOOSED AIRPORTS TO CHOOSED AIRPORTS-->
    <div  
    *ngIf="flights.length > 0; else noFlights">
        <p class="text-center text-2xl">Choose a ticket</p>
        <form (submit)="orderTicket($event)"
        class="">
            <div class="max-h-64 overflow-y-auto border-t-2 border-b-2 border-black
            sm:mx-5
            md:mx-10 
            lg:mx-20 
            xl:mx-40 
            2xl:mx-80">
                <ng-container *ngFor="let flight of flights; let i = index" >
                    <div>
                        <input 
                        class="hidden peer"
                        type="radio" 
                        name="ticketOptions"
                        id="{{i}}"
                        [value]="flight"
                        (change)="validateTicketData()"
                        [(ngModel)]="selectedTicketControl"
                        >
                        <label class="transition duration-300 ease-in-out rounded-lg border-2 border-black
                        peer-checked:bg-blue-700 block peer-checked:text-white peer-checked:border-white"
                        for="{{i}}">
                            <app-airport-button  
                            class="block p-5"
                            [carrier]=flight.carriers
                            [dateTime]=flight.dateTime
                            [originDetails]=flight.originDetails
                            [destinationDetails]=flight.destinationDetails
                            price="{{flight.moneyDetails.price + flight.moneyDetails.symbol}}"
                            ></app-airport-button>
                        </label> 
                    </div>
                </ng-container>
            </div>
            <div class="grid grid-cols-2 grid-rows-2">
                <input class="form-input mt-1 text-center
                focus:border-b" 
                type="text" 
                [formControl]=ticketNameAndSurname 
                placeholder="Name and surname">
                <input class="form-input mt-1 text-center
                focus:border-b"
                type="email" 
                (change)="validateTicketData()"
                (keyup)="validateTicketData()"
                [formControl]=ticketEmail 
                placeholder="E-Mail">
                <button class="bg-green-500 rounded-md text-white transition duration-500 ease-in-out col-span-2 justify-self-center
                hover:scale-110
                disabled:bg-red-700 disabled:text-black"
                type="submit"
                [disabled]="!validTicketData">
                    BUY TICKETS
                </button>
            </div>
        </form>
    </div>
</div>